/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* General Styles */
body {
    height: 100%;
    justify-content: center;
    position: relative;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}   

#searchInput {
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  width: 272px;
  height: 40px;
}

#searchInput:hover{
border: 1.5px solid #000;
}

.searchForm button {
  border-radius: 8px;
  background-color: #4E75FF;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.searchForm button:hover {
  background-color: #6C8CFF;
}


/* Gallery Styles */
.gallery {
  display:flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  max-width: 1180px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-card {
  display: block;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #808080;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 360px;
  height: 200px;
  
}

.photo-card:hover {
  transform: scale(1.03);
}

.gallery-link {
display: block;
  height: 150px;
  max-width: 360px;
}

.image {
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
  display: flex;
    flex-wrap: nowrap;
    padding: 0 20px;

    justify-content: space-between;
  }

.student-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.atribute {
  font-weight: 600;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.searchForm {
  display: flex;
  margin: 32px auto;
  gap: 10px;
  display: flex;
    justify-content: center;
}

.search-zone{
    display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  
}

.loader {
  display: none;
  position: absolute;
    left: 200px;
    top: 50%;
  justify-content: flex-start ;
  margin-right: 100px;
  width: 120px;
  height: 14px;
  border-radius: 0 0 15px 15px;
  background-color: #3e494d;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panex 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;

}

.loader::before {
  content: '';
  position: absolute;
  left: calc(100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px, 4px 8px, 24px 4px;
  background-position: right center, 17px center, 0px center;
}

.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image:
    radial-gradient(circle 3px, #fff6 90%, transparent 10%),
    radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
    radial-gradient(circle 12px, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px, -2px -2px, -1px -1px;
  box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
  border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
  animation: eggRst 1s ease-out infinite;
}

@keyframes eggRst {

  0%,
  100% {
    transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
    opacity: 0;
  }

  10%,
  90% {
    transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
    opacity: 1;
  }

  25% {
    transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg)
  }

  75% {
    transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg)
  }

  50% {
    transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg)
  }
}

@keyframes panex {
  0% {
    transform: rotate(-5deg)
  }

  100% {
    transform: rotate(10deg)
  }
}

